:root {
  --main-bg-color: #04364a;
  --sec-color: #176b87;
  --third: #64ccc5;
  --fourth: #dafffb;
}

body {
  background-color: #e9d5d5c7;
  margin: 0;
  padding: 0;
}
.label-wrap {
  display: flex;
  justify-content: center;
}

.inputs-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
/* Styles for the form */
#bodyFatForm {
  min-width: 220px;
}
.formwrap {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.radio-wrap {
  display: flex;
  justify-content: space-around;
}

.btn-wrap {
  display: flex;
  justify-content: center;
}

.btn {
  width: 10rem;
  border: 5px solid var(--sec-color);
  border-style: ridge;
  background-color: #fff;
  color: #282828;
  padding-top: 5px;
  border-radius: 10px;
  padding-bottom: 5px;
  margin-top: 10px;
  cursor: pointer;
  /* box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

form {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border: 7px solid var(--sec-color);
  border-style: ridge;
  padding: 15px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

input[type="number"],
input[type="radio"],
button {
  margin-top: 5px;
  margin-bottom: 20px;
  display: block;
}

.wrap1 {
  display: flex;
}
.gender {
  margin-top: 1px;
}

/* Styles for the modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#weight {
  border-radius: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
}

#height {
  border-radius: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
}

#neck {
  border-radius: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
}

#waist {
  border-radius: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
}

#hip {
  width: 210px;
  border-radius: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
}
